.currency-block{
    padding: 25px 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background: #e0e5ec;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 15px;
    position: relative;
    width: 850px;
    min-height: 480px;
}
.currency-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.currency-header-title{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}
.currency-header-select{
    width: 25%;
    font-size: 20px;
    font-weight: 300;
    border: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 6px;
    background: transparent;
    box-shadow: 9px 9px 16px 0px #a3b1c6, -9px -9px 16px 0px rgba(255, 255, 255, 0.6);
}
.currency-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.currency-item{
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.2), inset -5px -5px 10px #fff ;
    border-radius: 5px;
    margin-bottom: 20px;
}